---
import Layout from "../layouts/Layout.astro";
---
<Layout title="CLC Thank You!">
    <div class="main">
        <div class="container">
            <div class="dot-flex">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
            <div class="calendar-body">
                COMING SOON!<br>
            Using Loxi Event Calendar
            </div>
        </div>
    </div>
</Layout>

<style>
    .main{
        padding: 0px 0 65px 0;
        background-image: url("racetrack.webp");
        -webkit-mask-image: linear-gradient(to bottom, transparent, black 3%, black 98%, transparent);
		mask-image: linear-gradient(to bottom, transparent, black 3%, black 98%, transparent);
        background-size: cover;
        background-position: top;
    }
    .container{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 60vw;
        aspect-ratio: 16/11;
        min-height: 500px;
        background-color: rgb(69, 69, 69);
        border-radius: 3px;
        overflow: hidden;
    }
    .dot-flex{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px 0;
        box-shadow: 0px 1px 3px black;
        position: relative;
        z-index: 2;
    }
    .dot{
        background-color: black;
        border-radius: 50px;
        height: 25px;
        width: 25px;
    }
    .calendar-body{
        position: relative;
        background-color: rgba(240, 248, 255, 0.822);
        height: 90%;
        z-index: 1;
        color: black;
        text-align: center;
        font-size: 26pt;
        padding: 40px 25px;
    }
</style>