---
import TopSpacer from "../components/topSpacer.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Ceramic Lounge Contact">
    <main>
        <div class="container">
            <TopSpacer></TopSpacer>
            <div class="contact">
                <img src="/contact-svg.svg" alt="Contact"/>
                <div class="subtitle">Reach out to us if you have questions about events,&nbsp;partnerships, or event hosting.</div>
            </div>
            <div class="text">
                Email:<br>
                CeramicLoungeCoffee@gmail.com
            </div>
            <div class="text">
                Social Media:<br>
            </div>
            <div class="sm-flex">
                <div>
                    <div class="circle"><div class="sm-text">Festigral</div></div>
                </div>
                <div>
                    <div class="circle"><div class="sm-text">Youtube</div></div>
                </div>
                <div>
                    <div class="circle"><div class="sm-text">Instagram</div></div>
                </div>
                <div>
                    <div class="circle"><div class="sm-text">Tiktok</div></div>
                </div>
            </div>
            <div class="text link">
                <t data-link="/calendar">Events</t><br> 
                <u data-link="/calendar">Check Out Our Calendar</u>
            </div>
        </div>
    </main>
</Layout>

<style is:global>
    main{
        min-height: 79vh;
    }
    
	:root {
		/* vars go here */
	}

	html {
		font-family: system-ui, sans-serif;
		background-color: black;
		color: white;
		font-family: 'Courier New', Courier, monospace;
		overflow-x: hidden;
	}

    body{
        margin: 0;
    }

	::-webkit-scrollbar{
    width: 12px;
	}
	::-webkit-scrollbar-thumb{
    background: black;
	border: 2px solid white;
	}
	::-webkit-scrollbar-corner{
		background-color: black;
	}
</style>
<style>
    .container{
        background: url("/concrete.webp");
        background-size: cover;
        -webkit-mask-image: linear-gradient(to bottom, black 98%, transparent);
		mask-image: linear-gradient(to bottom, transparent, black 3%, black 98%, transparent);
        min-height: 82vh;
    }
    .contact{
        padding: 0px 0 65px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .subtitle{
        margin-bottom: 50px;
        text-align: center;
        max-width: 85%;
    }
    .contact img{
        height: 60px;
		max-width: 80%;
    }
    .text{
        text-align: center;
        padding-bottom: 40px;
    }
    .sm-flex{
        display: flex;
        justify-content: center;
        gap: 40px;
        margin-top: -25px;
        padding-bottom: 70px;
        max-width: 60%;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .sm-flex > div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .circle{
        height: 50px;
        width: 50px;
        border-radius: 50px;
        background-color: black;
        box-shadow: 0 0 8px white;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        transition: 250ms;
    }
    .circle:hover{
        box-shadow: 0 0 28px white;
        cursor: pointer;
    }
    .sm-text{
        text-align: center;
        margin-top: 60px;
        width: fit-content;
    }
    u{
        cursor: pointer;
        color: yellow;
        user-select: none;
    }
    .link{
        cursor: pointer;
        user-select: none;
    }
</style>
<script>
    var customLinks = document.querySelectorAll('[data-link]');

    customLinks.forEach((item) => {
        var link = item.getAttribute('data-link').valueOf();
        item.addEventListener('click', () => {
        {
            location.replace(link);
        }
        })
    })
</script>