---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../layouts/HeroSection.astro';
import StoreLayout from '../layouts/StoreLayout.astro';
import GridSection from '../layouts/GridSection.astro';
import Jarmodel from '../layouts/3dmodel.astro';
import Radio from '../layouts/Radio.astro';
import Cart from '../components/cart.svelte';
import Header from '../layouts/Header.astro';
import Footer from '../layouts/Footer.astro';
---

<Layout title="The Ceramic Lounge">
	<Header></Header>
	<HeroSection></HeroSection>
	<Radio></Radio>
	<main>
		<StoreLayout itemMax=8 ></StoreLayout>
		<div class="grid-section">
			<GridSection></GridSection>
		</div>
		<Jarmodel></Jarmodel>
	</main>
	<Footer></Footer>
</Layout>

<style>
	/* *{
		border: 1px solid blue;
	} */
	body{
		margin: 0;
	}

	main {
		padding: 50px;
		-webkit-mask-image: linear-gradient(to bottom, transparent, black 3%, black 97%, transparent);
		mask-image: linear-gradient(to bottom, transparent, black 3%, black 97%, transparent);
        background-image: url("/garage2-min-min.webp");
		background-size: cover;
	}
</style>
