---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../layouts/HeroSection.astro';
import StoreLayout from '../layouts/StoreLayout.astro';
import GridSection from '../layouts/GridSection.astro';
import Radio from '../layouts/Radio.astro';
---

<Layout title="The Ceramic Lounge">
	<HeroSection></HeroSection>
	<!-- <Radio></Radio> -->
	<main>
		<StoreLayout itemMax=8 ></StoreLayout>
		<div class="grid-section">
			<GridSection></GridSection>
		</div>
	</main>
</Layout>

<style>
	/* *{
		border: 1px solid blue;
	} */

	main {
		padding: min(10%, 50px);
		-webkit-mask-image: linear-gradient(to bottom, black 0%, black 97%, transparent);
		mask-image: linear-gradient(to bottom, black 0%, black 97%, transparent);
        background-image: url("/garage2-min-min.webp");
		background-size: cover;
		background-position: bottom center;
	}
	.grid-section{
		margin-top: 120px;
	}
</style>
