---
import StoreLayout from '../layouts/StoreLayout.astro';
import Layout from "../layouts/Layout.astro"
import TopSpacer from '../components/topSpacer.astro';
---

<Layout title='Cermic Lounge Store'>
	<TopSpacer></TopSpacer>
	<main class="store">
		<div class="title-container">
			<img class="title-pic" src="/products-svg.svg" alt="Products">
			<div class="subtitle"> Check out all our goodies, from coffee to car stickers, we've got the fix.<br>
				Also dont forget to check out our coffee lineups for a variety of flavors
			</div>
		</div>
		<StoreLayout></StoreLayout>
	</main>
</Layout>

<style is:global>
    main{
        min-height: 79vh;
    }
    
	:root {
		/* vars go here */
	}

	html {
		font-family: system-ui, sans-serif;
		background-color: black;
		color: white;
		font-family: 'Courier New', Courier, monospace;
		overflow-x: hidden;
	}

    body{
        margin: 0;
    }

	::-webkit-scrollbar{
    width: 12px;
	}
	::-webkit-scrollbar-thumb{
    background: black;
	border: 2px solid white;
	}
	::-webkit-scrollbar-corner{
		background-color: black;
	}
</style>
<style>
	.store{
		background: url("/garage2-min-min.webp");
		background-size: cover;
	}
	.title-container{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 20px;
	}

	.subtitle{
		margin-bottom: 25px;
		max-width: 85%;
	}

	.title-pic{
		height: 60px;
		max-width: 80%;
	}
</style>