---
import ClientCart from "./ClientCart.svelte";
---

<div class="cart-user">
    <img tabindex="5" src="/calendar.svg" alt="calendar" data-link="/calendar">
    <img tabindex="6" src="/shopping-cart-icon.svg" alt="cart" onclick='toggleVissible()'>
    <div class="mobile-menu-button" tabindex="7">
        <div class="mobile-menu">
            <div><a tabindex="8" href="/">Home</a></div>
            <div><a tabindex="9" href="/products">Products</a></div>
            <div><a tabindex="10" href="/nutrition">Nutrition</a></div>
            <div><a tabindex="11" href="/contact">Contact</a></div>
        </div>
    </div>
</div>
<div id="">
    <div id="cart" class="container">
        <div class="top">
           <div class="title">Shopping Cart</div>
            <div onclick=';toggleVissible();' class="close">X</div>
        </div>
        <ClientCart client:only="svelte"></ClientCart>
        <div class="checkout-flex">
            <div>
                We use Stripe&nbsp;Checkout to keep your info safe. You'll be redirected on checkout.
            </div>
            <div id="checkout" class="checkout">Checkout</div>
        </div>
    </div>
</div>
<style>
    .title{
        padding: 16px 10px;
    }
    .container{
        position: absolute;
        right: 0;
        top: -2px;
        height: 0vh;
        width: 300px;
        background-color: #000000;
        z-index: 200;
        border-left: 2px solid black;
        overflow: scroll;
        transition: 200ms ease-out;
    }
    .top{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #AC0000;
        z-index: 4;
    }
    .close{
        padding: 16px 18px;
        font-weight: 700;
        cursor: pointer;
        background-color: #00000025;
        user-select: none;
    }
    .checkout-flex{
        position: absolute;
        bottom: 5px;
        right: 0px;
        display: flex;
        flex-direction: column;
        align-items: end;
        text-align: right;
        gap: 12px;
        z-index: 3;
    }
    .checkout{
        height: 30px;
        width: 150px;
        background-color: #AC0000;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        user-select: none;
    }
    .cart-user{
		position: absolute;
		right: 8px;
		top:0;
		height: 30px;
		padding: 5px;
		display: flex;
		gap: 8px;
        align-items: center;
	}

	.cart-user > img {
		aspect-ratio: 1.2/1;
		height: 80%;
		cursor: pointer;
	}

	.mobile-menu{
		position: absolute;
        top: 0px;
        right: 0px;
        width: 200px;
        height: 0vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        background-color: #ac0000;
		gap: 2px;
		transition: 150ms;
	}
	.mobile-menu-button{
        display: none;
		height: 100%;
		aspect-ratio: 1/1;
		background-image: url('/burger-icon.svg');
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
	}
	@media only screen and (max-width: 900px){
		.mobile-menu-button{
			display: block;
		}
	}
	.cart-user .mobile-menu-button:focus .mobile-menu
    ,.cart-user .mobile-menu:has(:focus){
		height: 140vh;
		height: 100dvh;
	}
	.mobile-menu > div{
		position: relative;
		background-color: #00000040;
		cursor: pointer;
		margin: 0 2.5px;
	}
    .mobile-menu a{
        display: block;
        width: auto;
        padding: 10px;
    }
	.mobile-menu > div::after{
		content: "";
		display: block;
		bottom: 0;
		height: 2px;
		width: 0px;
		border-radius: 2px;
		transition: 250ms;
	}
	.mobile-menu > div:hover::after{
		content: "";
		width: 100%;
		background-color: white; 
	}
    .mobile-menu a{
        color: white;
        text-decoration: none;
    }
</style>
<script>
    import {loadStripe} from '@stripe/stripe-js'
    var checkoutButton = document.getElementById('checkout');
    checkoutButton.addEventListener('click', (e) => {
        checkout();
    })

    async function checkout(){
        // Stripe.js will not be loaded until `loadStripe` is called
        const stripeLoader = await loadStripe(import.meta.env.PUBLIC_STRIPE_PUBLISHABLE_KEY);

        let cartContainer = document.querySelector('#cartContainer')
        let lineItems = [];

        let prods = cartContainer.querySelectorAll('.cart-product') as NodeListOf<HTMLElement>;
        if(prods.length < 1) { return; }

        prods.forEach(prod => {
            var num:Number = parseInt(prod.querySelector('.cart-quantity').textContent);
            var item = {price : prod.getAttribute('data-priceID'), quantity : num};
            lineItems.push(item);
        });

        console.log(JSON.stringify(lineItems))

        //returns a redirect, so it should just dip from here
        var summ = await fetch('api/stripe', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(lineItems)
        });
        var response = await summ.json();
        
        location.replace(response.url);
    }

    var customLinks = document.querySelectorAll('[data-link]');

    customLinks.forEach((item) => {
        var link = item.getAttribute('data-link').valueOf();
        item.addEventListener('click', () => {
        {
            location.replace(link);
        }
        })
    })
</script>
<script is:inline>
    var cart = document.getElementById('cart');

    function toggleVissible() {
        if(cart.style.height == '100vh'){
            // cartContainer.style.width = "0px"
            cart.style.height = '0vh'
        } else {
            // cartContainer.style.width = "300px"
            cart.style.height = '100vh'
        }
    }
</script>