---
/**
slug:
name:
description:
price:
img1:
img2:
img3:
altLabel:
priceID:
fillColor:
 */
interface Frontmatter {
  slug: string;
  name: string;
  description: string;
  price: string;
  img1: string;
  img2: string;
  img3: string;
  altLabel: string;
  priceId: string;
  fillColor: string;
}

const pages = await Astro.glob<Frontmatter>('../../content/products/more/*.md');

const { slug } = Astro.params;
const page = pages.find((page) => page.frontmatter.slug === slug);
if (!page) return Astro.redirect("/404");
const { name, price, description, img1, img2, img3, altLabel, priceId, fillColor} = page.frontmatter;
---

<html>
<head>
  <title>{name}</title>
</head>
<body>
  <h1>{price}</h1>
  <p>{description}</p>
</body>
</html>