
<div class="container">
    <div class="hero-section">
        <img class="hero-photo" src="hero-can.webp" alt="Coffee Can">
        <img class="hero-text" src="/hero-text.png" alt="Fuel Excellence">
    </div>
    <img class="bottom-divider" src="/hero-bottom-divider.svg" alt="flair">
</div>
<style>
    .container{
        position: relative;
        margin-top: 44px;
        width: 100%;
        height: clamp(500px, 90vh, 80vw);
    }
    .hero-section{
        width: 100%;
        height: 100%;
        /* -webkit-mask-image: linear-gradient(to bottom, black 95%, transparent);
        mask-image: linear-gradient(to bottom, black 95%, transparent); */
    }
    .hero-photo{
        position: absolute;
        right: 0; bottom: 0;
        height: 100%;
        z-index: 2;
        /* aspect-ratio:; */
    }
    .hero-text{
        position: absolute;
        bottom: 6%; left: calc((55vw / 2) - 1600px);
        height: 90%;
        z-index: 1;
    }
    .bottom-divider{
        position: absolute;
        top: 100%;
        left: 0; right: 0;
        z-index: 3;
        min-height: 15px;
        transform: translateY(-50%);
    }
</style>