
<div class="container">
    <!-- <img class="hero-img" src="/hero2-min.webp" alt="hero-img"> -->
    <div class="hero-section">
        <div class="cl-flex">
            <img class="ceramic" src="/ceramic.svg" alt="ceramic">
            <img class="lounge" src="/lounge.svg" alt="lounge">
            <img class="coffee" src="/coffee.svg" alt="coffee">
        </div>
        <div class="left-side-container">
            <div class="left-text">  Shop <br>
                Coffee  <br>
                Below
            </div>
            <button tabindex="8" >Go&nbsp;There</button>
        </div>
    </div>
</div>
<style>
    .container{
        position: relative;
        width: 100%;
    }
    .hero-section{
        background-image: url("/hero2-min.webp");
        background-size: cover;
        background-position: left;
        aspect-ratio: 19/8;
        min-height: 500px;
        margin-top: 44px;
        width: 100%;
        -webkit-mask-image: linear-gradient(to bottom, black 99%, transparent);
        mask-image: linear-gradient(to bottom, black 99%, transparent);
    }
    .cl-flex{
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
        width: 95%;
        padding: 0 2.5%;
        padding-top: 30px;
    }
    .ceramic{
        /* width: 325px; */
        height: max(5.5vw, 50px);
    }
    .lounge{
        /* width: 300px; */
        height: max(5.5vw, 50px);
    }
    .coffee{
        /* width: 275px; */
        height: max(5.5vw, 50px);
    }
    .left-side-container{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap-reverse;
        top: 40%;
        bottom: 10%;
        width: 15%;
        right: 10%;
        gap: 25px;
        margin-left: 3%;
        transition: 150ms;
    }
    .left-text{
        text-align: center;
        font-size: 24pt;
        margin: 0;
    }
    button{
        background-color: #AC0000;
        border: 1px dotted black;
        aspect-ratio: 5/2;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: 14pt;
        cursor: pointer;
        padding: 6px;
    }
    button::after{
		content: "";
		display: block;
		bottom: 0;
		height: 1px;
		width: 0px;
		border-radius: 2px;
		transition: 250ms;
	}
    button:hover::after,
    button:focus::after{
		content: "";
		width: 100%;
		background-color: white; 
	}
    @media only screen and (max-width: 920px){
        .left-side-container{
            flex-direction: row;
            width: 100%;
            right: 0;
            top: 50%;
            bottom: 0%;
            gap: 8px;
        }
    }
    @media only screen and (max-width: 630px){
        .cl-flex{
            flex-direction: column;
        }
    }
</style>